<!doctype html>

<html>
<head>
	<title>GO!outide</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="#4CAF50">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/gooutside.css" rel="stylesheet">
	<link href="/css/place.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,600italic,300' rel='stylesheet' type='text/css'>

</head>

<body>
	<div>

		<div class="navbar">
			<ul>
			  <a href="#">
					<li onclick="history.go(-1);">
						<img class="back-btn" src="/images/back.svg" />
					</li>
				</a>
			</ul>
		</div>

		<div class="place-details">
			<div class="name">
				{{place.name}}
			</div>

			<img src="{{place.image}}" />

			<div class="description">
				{{place.description}}
			</div>

			<div class="rating" />
				Overall Rating: {{place.ratings.overall}}
				<br>
				Secludedness: {{place.ratings.secluded}}
				<br>
				Romanticness: {{place.ratings.romantic}}
				<br>
				Quiet: {{place.ratings.quiet}}
			</div>
		</div>

	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>
