<!doctype html>

<html>
<head>
	<title>GO!outide</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/gooutside.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,600italic,300' rel='stylesheet' type='text/css'>

</head>

<body>
	<div>

		<div class="navbar">
			<ul>
			  <a href="/homepage">
					<li>
						<img class="back-btn" src="/images/back.svg" />
					</li>
				</a>
			</ul>
		</div>

		{{profile.name}}

		<!-- <div class="profile-details">
			<div class="name">
				{{profile.name}}
			</div>

			{{#if profile.hasImage}}
			<img src="{{profile.image}}" />
			{{#else}}
			{{/if}}

			<div class="description">
				{{profile.description}}
			</div>

			<div class="places" />
			My places:
			{{#each profile.places}}
			<div class="list-place" id="{{id}}">
				<a href="/places/{{id}}">
					<img src="{{image}}" />
					<div class="list-place-name">{{name}}</div>
				</a>
					<div class="lis-place-desc">{{description}}</div>
					<div class="list-place-rating">Overall Rating: {{ratings.overall}}</div>
			</div>
		</div> -->

	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>
